:root {
  --main-bg-color: hsl(242deg 88% 66%);;
}

.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-family: sans-serif;
  text-align: center;
  border: 5px solid var(--main-bg-color);
}

.title {
  color:  var(--main-bg-color);
  font-weight: 100;
  font-size: 40px;
}

.numbers {
  display: flex;
}

.numberTitle {
    width: 50%;
}

.subTitle {
  font-weight: 100;
  font-size: 30px;
}

.buttonStyle {
  width: 20%;
  height: 50px;
  margin: auto;
  font-size: 25px;
}


#button {
  cursor:pointer;
}
